CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/1

FLASK_APP=src
FLASK_ENV=development
FLASK_DEBUG=true

SECRET_KEY=sangat-rahasia-sekali-*&6489sd*&asccfsdf%&^92834*&Q^

# Flask-Mail
MAIL_SERVER = 'smtp.googlemail.com'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = 'mail-username'
MAIL_PASSWORD = 'mail-password'

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=

PUSHER_APP_ID='1540942'
PUSHER_KEY='408162a5cb0a91fbaa2c'
PUSHER_SECRET='97beb80fa962073dccc9'
PUSHER_CLUSTER='ap1'
PUSHER_SSL=True